.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.jc-start {
  justify-content: start;
}

.align-self-start {
  align-self: flex-start;
}

.align-items-start {
  align-items: start;
}

.col-100 {
  flex-basis: 100%;
}

.col-50 {
  flex-basis: 50%;
}

.grow {
  flex-grow: 1;
}

.width-100 {
  width: 100%;
}

.width-200 {
  width: 200px;
}

.width-550 {
  width: 30.555556rem;
}

.width-135 {
  width: 135px;
}

.max-width-20 {
  max-width: 20px;
}

.max-width-367 {
  max-width: 366.66px;
}

.max-width-575 {
  max-width: 31.944444rem;
}

.max-width-600 {
  max-width: 33.333333rem;
}

.min-width-270 {
  min-width: 270px;
}

.min-height-50 {
  min-height: 50px;
}

.db {
  display: block;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 1.111111rem;
}

.mt-22 {
  margin-top: 1.222222rem;
}

.mt-25 {
  margin-top: 1.388889rem;
}

.mt-30 {
  margin-top: 1.666667rem;
}

.mt-32 {
  margin-top: 1.777778rem;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 2.666667rem;
}

.mt-50 {
  margin-top: 50px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-200 {
  margin-top: 11.111111rem;
}

.mt-m40 {
  margin-top: -40px;
}

.mr-5 {
  margin-right: 6rem;
}

.mr-16 {
  margin-right: 0.888889rem;
}

.mr-18 {
  margin-right: 1rem;
}

.mr-24 {
  margin-right: 1.33rem;
}

.mr-25 {
  margin-right: 1.388889rem;
}

.mr-50 {
  margin-right: 2.77rem;
}

.mr-m15 {
  margin-right: -15px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-50 {
  margin-bottom: 2.77rem;
}

.mb-58 {
  margin-bottom: 58px;
}

.mb-64 {
  margin-bottom: 3.555556rem;
}

.mb-100 {
  margin-bottom: 5.55rem;
}

.ml-15 {
  margin-left: 0.833333rem;
}

.ml-64 {
  margin-left: 3.555556rem;
}

.ml-145 {
  margin-left: 145px;
}

.ml-120 {
  margin-left: 6.666667rem;
}

.ml-126 {
  margin-left: 7rem;
}

.ml-167 {
  margin-left: 9.277778rem;
}

.p-0 {
  padding: 0;
}

.pt-32 {
  padding-top: 32px;
}

.pt-61 {
  padding-top: 61px;
}

.pt-100 {
  padding-top: 5.555556rem;
}

.pt-200 {
  padding-top: 200px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pl-1 {
  padding-left: 1.5rem;
}

.pr-1 {
  padding-right: 1.5rem;
}

.pl-20 {
  padding-left: 1.111111rem;
}

.pb-46 {
  padding-bottom: 46px;
}

.pb-40 {
  padding-bottom: 40px;
}
