.container {
  max-width: 66.67rem;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.align-self-start {
  align-self: flex-start;
}

.col-100 {
  flex-basis: 100%;
}

.col-50 {
  flex-basis: 50%;
}

.col-30 {
  flex-basis: 30%;
}

.width-100 {
  width: 100%;
}

.max-width-575 {
  max-width: 31.944444rem;
}

.max-width-135 {
  max-width: 7.5rem;
}

.db {
  display: block;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.m-0 {
  margin: 0;
}

.mt-20 {
  margin-top: 1.111111rem;
}

.mt-22 {
  margin-top: 1.222222rem;
}

.mt-30 {
  margin-top: 1.666667rem;
}

.mt-40 {
  margin-top: 2.222222rem;
}

.mt-64 {
  margin-top: 3.555556rem;
}

.mt-200 {
  margin-top: 11.111111rem;
}

.mr-1 {
  margin-right: 1.33rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mr-16 {
  margin-right: 0.888889rem;
}

.mb-50 {
  margin-bottom: 2.77rem;
}

.mb-64 {
  margin-bottom: 3.555556rem;
}

.pt-100 {
  padding-top: 5.55rem;
}

.pt-11 {
  padding-top: 11.11rem;
}

.pb-11 {
  padding-bottom: 11.11rem;
}

.pl-1 {
  padding-left: 1.5rem;
}

.pr-1 {
  padding-right: 1.5rem;
}
