.container {
  max-width: 66.67rem;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.col-100 {
  flex-basis: 100%;
}

.col-30 {
  flex-basis: 30%;
}

.db {
  display: block;
}

.ta-center {
  text-align: center;
}

.m-0 {
  margin: 0;
}

.mt-22 {
  margin-top: 1.222222rem;
}

.mt-40 {
  margin-top: 40px;
}

.mt-64 {
  margin-top: 3.555556rem;
}

.mt-200 {
  margin-top: 11.111111rem;
}

.mr-1 {
  margin-right: 1.33rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mr-16 {
  margin-right: 16px;
}

.mb-50 {
  margin-bottom: 2.77rem;
}

.mb-64 {
  margin-bottom: 3.555556rem;
}

.pt-10 {
  padding-top: 10px;
}

.pt-100 {
  padding-top: 5.55rem;
}

.pt-11 {
  padding-top: 11.11rem;
}

.pb-11 {
  padding-bottom: 11.11rem;
}

.pl-1 {
  padding-left: 1.5rem;
}

.pr-1 {
  padding-right: 1.5rem;
}