.btn {
  text-transform: uppercase;

  border-radius: 5px;
}

.btn-description,
.btn-price {
  padding: 20px 30px;
}

.btn-news {
  padding: 16px 30px;
}

.btn-app {
  width: 131px;
  padding: 16px 40px;

  text-transform: none;

  border-radius: 32px;
}

.icon {
  width: 20px;
  height: 20px;
}

.border-none {
  border: none;
}

.border-white {
  border: 1px solid $white;
}

.border-dgray {
  border: 1px solid $darkgray;
}

.border-gray {
  border: 1px solid $gray;
}

.white {
  color: $white;
}

.gray {
  color: $gray;
}

.darkgray {
  color: $darkgray;
}

.bg-green {
  background-color: $green;
}

.bg-red {
  background-color: $red;
}

.bg-purple {
  background-color: $purple;
}

.bg-transparent {
  background: transparent;
}

.bg-gradient {
  background: linear-gradient(89.75deg, $purple 32.83%, $red 81.56%);
}

.list-style-none {
  list-style-type: none;
}
