@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  /* page-description */
  .page-description-index {
    input {
      flex-basis: 100%;
    }

    p {
      margin-top: 17px;
    }
  }

  /* page-news */
  .news-body {
    margin: auto;
  }

  .news-foto {
    max-width: 400px;
    margin: auto;
  }

  .news-body-even {
    margin: auto;
  }

  .news-foto-even {
    max-width: 400px;
    margin: auto;
  }

  /* page-popular-track */
  .popular-track {
    margin-right: 0;

    &:not(:first-child) {
      margin-top: 25px;
    }
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3,
  .h3-capitalize {
    font-size: 16px;
  }

  /* header */
  .menu {
    flex-direction: column;
    align-items: start;
    padding-right: 20px;
    padding-left: 20px;

    form {
      align-self: stretch;
      max-width: 374px;
      margin-top: 5px;
    }

    input {
      width: 100%;
    }
  }

  .logo {
    margin-bottom: 23px;

    img {
      margin-left: 0;
    }
  }

  .header-nav {
    margin-top: -17px;
  }

  /* page-description */
  .page-description-index {
    h1 {
      margin-top: 48px;
    }
  }

  /* page-news */
  .page-news {
    h2 {
      margin-top: 20px;
    }
  }

  .news-item {
    flex-direction: column;
    margin-top: 50px;
  }

  .news-body {
    margin-top: 43px;

    a {
      margin-top: 34px;
    }

    &-text {
      margin-top: 18px;
    }
  }

  .news-body-even {
    order: 2;
    margin-top: 44px;

    &-text {
      margin-top: 16px;
    }
  }

  .news-foto-even {
    order: 1;
    margin-top: 6px;
  }

  /* page-app */
  .app-content {
    flex-direction: column;

    a {
      display: inline-block;
    }
  }

  .app-info {
    order: 2;
    margin-top: 17px;
  }

  .app-image {
    order: 1;
    height: 278px;
    margin: auto;
    margin-top: 48px;
  }
}

@media screen and (max-width: 550px) {
  /* header */
  .header-nav {
    flex-direction: column;
    align-items: start;
  }

  .pricing-items {
    flex-direction: column;

    margin-top: -40px;
  }

  .pricing-item {
    max-width: 99%;
    height: 595px;
    margin-top: 50px;
  }

  .pricing-value {
    margin-top: 198px;
  }

  /* footer */
  footer {
    hr {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .footer-menu {
    flex-direction: column;
    align-items: start;
    padding-bottom: 46px;

    &-item {
      flex-basis: auto;
      width: 374px;
      margin-top: 0;
      margin-bottom: 31px;

      ul {
        margin-bottom: 0;
      }

      img {
        vertical-align: middle;
      }
    }
  }

  .footer-links {
    flex-direction: column;
    align-items: start;
    padding-top: 40px;
    padding-bottom: 44px;

    a {
      width: 358px;
      margin-top: 16px;
      margin-left: 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  /* page-description-artist */
  .page-description-artist {
    h1 {
      margin-top: 24px;
    }

    button {
      margin-top: 26px;
    }
  }

  .description-artist-buttons {
    flex-direction: column;
    align-items: start;
    margin-top: 25px;
  }

  /* page-discography */
  .discography-item {
    max-width: 138px;

    &:not(:nth-child(-n+2)) {
      margin-top: 25px;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .discography-image {
    width: 137px;
    height: 137px;
  }

  .discography-info {
    margin-top: 15px;
  }

  /* page-similar */
  .similar-item {
    max-width: 138px;

    &:not(:nth-child(-n+2)) {
      margin-top: 25px;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .similar-image {
    width: 137px;
    height: 137px;
  }
}
