@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .page-description {
    input {
      flex-basis: 100%;
    }
  }

  /* page-news */
  .news-body {
    margin: auto;
  }

  .news-foto {
    max-width: 400px;
    margin: auto;
  }

  .news-body-even {
    margin: auto;
  }

  .news-foto-even {
    max-width: 400px;
    margin: auto;
  }

  /* page-popular-track */
  .popular-track:not(:first-child) {
    margin-top: 25px;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  /* header */
  .menu {
    flex-direction: column;
    align-items: start;
    padding-right: 20px;
    padding-left: 20px;

    form {
      align-self: stretch;
      max-width: 374px;
    }

    input {
      width: 100%;
    }
  }

  .logo {
    margin-bottom: 23px;
  }

  .header-nav {
    margin-bottom: 23px;
  }

  /* page-news */
  .news-item {
    flex-direction: column;
  }

  .news-body-even {
    order: 2;
  }

  .news-foto-even {
    order: 1;
  }

  /* page-app */
  .app-content {
    flex-direction: column;
  }

  .app-info {
    order: 2;
  }

  .app-image {
    order: 1;
  }
}

@media screen and (max-width: 570px) {
  /* header */
  .header-nav {
    flex-direction: column;
    align-items: start;
  }

  /* page-description */
  .page-description {
    padding-top: 248px;
  }

  /* page-pricing */
  .pricing-items {
    flex-direction: column;
  }

  .pricing-item {
    height: 595px;
    margin-top: 50px;
  }

  /* footer */
  .footer-menu {
    flex-direction: column;
    align-items: start;

    &-item {
      margin-top: 1.666667rem;
      margin-left: 0;
    }
  }

  .footer-links {
    flex-direction: column;
    align-items: start;

    a {
      margin-left: 0;
    }
  }

  /* page-description-artist */
  .page-description-artist {
    h1 {
      margin-top: 4.166667rem;
    }

    button {
      margin-top: 1.333333rem;
    }
  }

  .description-artist-buttons {
    flex-direction: column;
    align-items: start;
  }

  /* page-discography */
  .discography-item {
    max-width: 138px;

    &:not(:nth-child(-n+2)) {
      margin-top: 25px;
    }
  }

  .discography-image {
    width: 137px;
    height: 137px;
  }

  /* page-similar */
  .similar-item {
    max-width: 138px;

    &:not(:nth-child(-n+2)) {
      margin-top: 25px;
    }
  }

  .similar-image {
    width: 137px;
    height: 137px;
  }
}
