.page-description-index {
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-size: cover;

  form {
    max-width: 31.666667rem;
    margin: auto;
  }

  input {
    min-width: 15rem;
    min-height: 50px;
    margin-bottom: 1.5rem;
    padding-left: 1.111111rem;

    color: $white;

    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    line-height: 0.888889rem;

    border: 2px solid $darkgray;
    border-radius: 3px;

    &::placeholder {
      color: $white;
    }
  }
}

.page-description-artist {
  background-image: url('../images/Morten_Harket.jpg');
  background-position: center;
  background-size: cover;
}

.filter {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
