.pricing-item {
  height: 34.166667rem;

  border-radius: 1rem;
}

.bg-free {
  background-image: url('../images/subscribe_1.jpg');
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url('../images/subscribe_2.jpg');
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url('../images/subscribe_3.jpg');
  background-position: center;
  background-size: cover;
}

.pricing-value {
  align-items: flex-start;
  justify-content: center;
}

.price {
  line-height: 1em;
}

.rub {
  line-height: 1em;
  text-transform: uppercase;
}
